        /*      font-family: 'Open Sans', sans-serif;
                font-family: 'Roboto', sans-serif;     */

/* Common Styles or Utilities */

body {
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;

}
.container {
    background: #ffffff;
    Width: 870px;
    padding: 30px;
    border-radius: 5px;
}
.title {
    color: #562EFF;
    margin-top: 0;
    margin-bottom: 0;
}
hr {
    margin: 30px 0;
    border: 1px solid #D1D1D1;
}

/* Top Players Style */

.players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    margin: 30px 0;
}
.player {
    display: flex;
    align-items: center;
}
.player img {
    width: 56px;
    height: 56px;
}
.player-name {
    margin-left: 16px;
    font-size: 18px;
}

/* Top Blogs Style */

.blogs {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
    margin-top: 30px;
}
.blog {
    display: flex;
}
.blog .thumbnail img {
    width: 177px;
}
.blog-info {
    margin-left: 16px;
}
.blog-name {
    font-size: 20px;
    margin-bottom: 0;
}
.blog-author {
    color: #9F9F9F;
}
.blog-author a {
    text-decoration: none;
    color: #562EFF;
}

/* Latest Course Style */

.latest-course {
    margin-top: 20px;
}