        /*      font-family: 'Open Sans', sans-serif;
                     */

/* Common Styles or Utilities */

body {
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;

}
.container {
    background: #ffffff;
    Width: 870px;
    padding: 30px;
    border-radius: 5px;
}
.title {
    color: #562EFF;
    margin-top: 0;
    margin-bottom: 0;
}
hr {
    margin: 30px 0;
    border: 1px solid #D1D1D1;
}

/* Top Players Style */

.players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    margin: 30px 0;
}
.player {
    display: flex;
    align-items: center;
}
.player img {
    width: 56px;
    height: 56px;
}
.player-name {
    margin-left: 16px;
    font-size: 18px;
}

/* Top Blogs Style */

.blogs {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
    margin-top: 30px;
}
.blog {
    display: flex;
}
.blog .thumbnail img {
    width: 177px;
}
.blog-info {
    margin-left: 16px;
}
.blog-name , .course-name{
    font-size: 20px;
    margin-bottom: 0;
}
.blog-author {
    color: #9F9F9F;
}
.blog-author a {
    text-decoration: none;
    color: #562EFF;
}

/* Latest Course Style */

.latest-courses {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}
.courses {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;

}
.course {
    Width: 224px;
    Height: 269.79px;
    /* border: 1px solid #000; */
    padding: 15px;
    /* filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05)); */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
.course-banner {
    /* margin: auto; */
    /* border: 1px solid red; */
    width: 224px;
    height: 104px;
}
.course .course-banner img {
    width: 100%;
}
.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-instructor {
    color: #ED6B4F;

}
.fa-star {
    font-size: 12px;
}
.fa-star.filled {
    color: #FFC014;
}
.fa-star.empty {
    color: #aeaeae;
    opacity: 0.25;
}
.rating {
    color: #A2A2A2;
    padding: 10px;
}
.course-duration {
    background-color: #FFE4E8;
    border-radius: 14.6913px;
    padding: 5px;
    color: #FF4A60;
}
/* --------------------
    Media Queries
    -------------------- */

/* Mobile Devices */

@media (max-width:688px) {
    .container {
        width: 100%;
    }
    .player , .blog {
        flex-direction: column;
    }
    .players , .blogs , .courses {
        grid-template-columns: repeat(1,1fr);
    }
}

/* Tablet Devices */

@media (min-width:688px) and (max-width:992px) {
    .container {
        width: 100%;
    }
    .players , .courses {
        grid-template-columns: repeat(2,1fr);
    }
}
